/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

th, td, .default.text, i{
  font-size: 1.4em;
}

.info i{
  font-size: 1.6em;
  margin-right: .2em;
  color: rgba(0,0,0,0.85)
}

.ui.buttons{
  margin-bottom: 20px;
}

.ui.buttons button.ui.button{
  font-size: 1.2rem;
}

.off-color .ui.basic.buttons button.ui.button{
  background-color: white !important;
} 

.off-color .ui.basic.buttons button.ui.button.active{
  background-color: rgba(0,0,0,.05) !important;
} 


.ui.basic.buttons button.ui.button:hover{
  opacity: .5;
} 


nav{
  background-color: #222;
  height: 50px;
}

body{
  font-size: inherit;
  margin: 0;
}


.row{ 
  padding-bottom: 4em;
}

.hide{
  display: none !important;
}

.dropped-out{
  opacity: 0.5;
  
}

.add-padding-top{
  padding-top: 3.0em;
}

.container{
  max-width: 1080px;   
}

.off-color{
  background-color: #f0f0f0; 
}
 

.iframe{
  margin: 0 auto;
}


.map-type{
  text-align: center;
  margin-top: -20px;
}

.ui.dropdown{
  min-height: auto !important;
  display: inline-block;
  
}

.ui.dropdown .menu > .item{
  font-size: 1.4em;
}

.ui.selection.dropdown .menu{
  width: 100%;
  min-width: 100%;
}


.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.card {
  width: 24.6em;
  background-color: white;
  border-radius: 0.2em;
  margin: 0.5em;
  color: #666;
  height: auto;
  padding-bottom: 0.1em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  display: inline-block;
  border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    z-index: '';
    position: relative;
    overflow: hidden;
}

.card .banner img {
  width: 100%;
}

.card .portrait {
  width: 33%;
  margin: 0 auto;
  margin-top: -18%;
  margin-bottom: 2%;
}

.card .portrait img {
  width: 100%;
  border-radius: 50%;
  border-width: 0.5em;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.12), 0 0.2em 0.4em rgba(0, 0, 0, 0.24);
}

.info {
  text-align: center;

  padding-left: 2em;
  padding-right: 2em;
}

.info h2 {
  color: #444;
}

.info h5,
.info h4 {
  margin: 0em 0 0em 0;
      font-size: 2.4rem;
    font-weight: 700;
    color: rgba(0,0,0,.85);
}

.info header {
  margin-bottom: 0.3em;
  font-size: 1.4em;
}

.progressbar span{
  font-size: 1.4em;
} 



.info a {
  text-decoration: none;
  font-size: 1.4em;
}

.info section {
  margin-bottom: 2.5em;
}

.progressbar {
  height: 2.5em;
  background-color: #C9C9C9;
  position: relative;
  border-radius: .28571429rem;
}

.remaining {
  background-color: rgba(53, 144, 231, 1);
  color: white;
  padding: 0.2em;
  font-weight: 700;
  letter-spacing: 1.5;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  padding-left: 0;
  width: auto;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 0.2em;
  font-weight: 700;
  text-align: left;
  z-index: 0;
  padding-left: 0;
  text-align: center;
  z-index: 300;
}

.delegates header {
  margin-bottom: .3em;
  color: #444;
}

.delegates .group {
  margin-bottom: 1em;
}



.ui-slider-horizontal .ui-slider-handle:focus{
  outline: none;
}


.ui-slider-horizontal .ui-slider-handle {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border: none;
  border-radius: 5em;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  top: 0em;
  width: 40px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 0.8em;
  color: white;
  background: none;
  background: #ffffff -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #ffffff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border: none;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  width: 1.5rem;
  height: 1.5rem;
}

.background-blue{
  background-color: rgba(53, 144, 231, 0.55)
}

.ui-widget-header{
  background: none;
  background-color: rgba(53, 144, 231, 0.55) !important;
  width: 55.5556%;
  border-radius: 500rem;
}

.slider-container {
    width: 85%;
    margin: 0 auto;
}

.slider {

  border: none;
  height: 20px;
  border-radius: .28571429rem;
  z-index: 0;
  width: -moz-calc(100% - 30px); 
  width: calc(100%); 
  margin-bottom: 12px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.05);
  height: 1.5rem;
  border-radius: 500rem;
  margin-right: 10px;
}

span.slider-percentage{
  font-size: 11.5px;
  line-height: 26px;
}

.percentage, .amount{
  display: inline-block;
}

.amount {
}

.ui.table td.active, .ui.table tr.active{  
  border-width: 0px;
  border-left-width: 5px;
  border-style: solid;
  border-color: purple;
  background: rgba(224, 224, 224, .3)!important;

}

th, td, .default.text, i {
    font-size: 1.3em;
}





.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 10px 40px;
  box-sizing: border-box;
  font-weight:900;
  height: auto;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 20px;
  left: -45px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}