/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.mContainer{
   width: 900px;}
   #candidates-box{
      margin-bottom: 40px
   }
   .candidate-box{
      margin-bottom: 10px;
      vertical-align: middle;
   }
      .candidate-box .color-key{
         width: 20px;
         height: 20px;
         background-color: white;
         border-color: black;
         border-width: 1px;
         border-style: solid;
         display: inline-block;
         margin-right: 10px;}
      .candidate-box p{
         line-height: 20px;
         vertical-align: middle;}
